[Unit]
Description=Caller Worker
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/hiring/may-2026/devops/quickstart/workers/caller-worker
Environment=III_URL=ws://10.0.0.174:49134 
ExecStart=/usr/bin/npm run dev
Restart=always

[Install]
WantedBy=multi-user.target
